@font-face {
  font-family: 'Optimistic Display';
  src: url('/fonts/OptimisticDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Optimistic Text';
  src: url('/fonts/OptimisticText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
} 